<div class = "main-container">
    <h2 class = "recent-anime-grid-section-title">Новинки, що набирають популярність</h2>
    <section class = "recent-anime-grid">
        <div class = "recent-anime-grid-items">
            <div class = "recent-anime-grid-poster-wrapper">
                <%= image_tag('wind_breaker_horizontal_poster.jpeg', class: "recent-anime-grid-posters-left")%>
            </div>
            <div class = "recent-anime-grid-description-wrapper-left">
                <div class = "recent-anime-grid-title-wrapper-left">
                    <h1 class = "recent-anime-grid-title-left">Вітролом</h1>
                </div>
                <div class = "recent-anime-description-wrapper-left">
                    <span class = "recent-anime-description-left">Харука Сакура терпіти не може слабаків. Ось чому він пішов у середню школу Фуріна, яка заслужила репутацію бойової школи без заборони, де учні щодня б'ються з тієї чи іншої причини чи ні. Його єдина мета – бути на чолі цієї напівкримінальної школи. Яке ж було здивування Сакури, коли з'ясувалося, що студенти тут були всіма улюбленими захисниками міста, щодня простягаючи руку допомоги всім, хто її потребував. І тут вони воюють не один з одним, а один за одного. Це історія про людину з самих низів, яка звикла розраховувати тільки на себе і вирішувати всі питання кулаками, і про те, як він стає героєм!</span>
                </div>

                <div class = "recent-anime-button">
                    <span class = "recent-anime-button-text">
                        Перейти на сторінку
                    </span>
                </div>
            </div>


        </div>

        <div class = "recent-anime-grid-items">
            <div class = "recent-anime-grid-description-wrapper-right">
                <div class = "recent-anime-grid-title-wrapper-right">
                    <h1 class = "recent-anime-grid-title-right">Кайджю №8</h1>
                </div>
                <div class = "recent-anime-description-wrapper-right">
                    <span class = "recent-anime-description-right">Гротескні, схожі на Ґодзіллу монстри, які називаються " кайджу", з'являються по всій Японії вже багато років поспіль. Для боротьби з цими чудовиськами елітний військовий підрозділ, відомий як Корпус оборони, щодня ризикує своїм життям, щоб захистити мирних жителів. Після того, як істота вбита, "прибиральники", що працюють під егідою Корпорації професійних прибиральників кайджу, залишаються, щоб позбутися його останків.</span>
                </div>
                <div class = "recent-anime-button">
                    <span class = "recent-anime-button-text">
                        Перейти на сторінку
                    </span>
                </div>
            </div>

            <div class = "recent-anime-grid-poster-wrapper-right">
                <%= image_tag('kaiju_8_horizontal_poster.jpeg', class: "recent-anime-grid-posters-right")%>
            </div>   
        </div>

        <div class = "recent-anime-grid-items">
            <div class = "recent-anime-grid-poster-wrapper-left">
                <%= image_tag('sentai_daishikkaku_horizontal_poster.jpg', class: "recent-anime-grid-posters-left")%>
            </div>

            <div class = "recent-anime-grid-description-wrapper-left">
                <div class = "recent-anime-grid-title-wrapper-left">
                    <h1 class = "recent-anime-grid-title-left">Вперед! Вперед! Рейнджере-невдахо!</h1>
                </div>
                <div class = "recent-anime-description-wrapper-left">
                    <span class = "recent-anime-description-left">Тринадцять років тому на Землю вторглася Армія Кайджінів, але величні захисники людства, Воїни дракона, розгромили їх всього за рік! Відтоді щонеділі кайджіни повинні розігрувати принизливу поразку на очах у нічого не підозрюючої публіки. Вирішивши це змінити, кайджін D, проник до лав Рейнджерів. І за допомоги таємничої рейнджерки Юмеко Судзукірі, D, вдалося захопити один з божественних артефактів - єдину зброю, яка здатна знищити безсмертні тіла монстрів.</span>
                </div>
                <div class = "recent-anime-button">
                    <span class = "recent-anime-button-text">
                        Перейти на сторінку
                    </span>
                </div>
            </div>
        </div>

        <div class = "recent-anime-grid-items">

            <div class = "recent-anime-grid-description-wrapper-right">
                <div class = "recent-anime-grid-title-wrapper-right">
                    <h1 class = "recent-anime-grid-title-right">Цей прекрасний світ, благословенний Богом! - 3 сезон</h1>
                </div>
                <div class = "recent-anime-description-wrapper-right">
                    <span class = "recent-anime-description-right">Після перемоги над ще одним генералом Короля Демонів, Кадзума разом із друзями повернулися додому. Хлопець думав, що після такого героїчного вчинку дівчата на нього кидатися будуть, але реальність виявилася набагато жорстокішою, і замість дівчат він отримав лише психологічні травми. Саме тому Кадзума вирішив податися в ченці. Чи вийде це у нього і які перешкоди стоятимуть у Кадзуми на шляху ви можете дізнатися під час перегляду нового сезону Коносуби.</span>
                </div>
                <div class = "recent-anime-button">
                    <span class = "recent-anime-button-text">
                        Перейти на сторінку
                    </span>
                </div>
            </div>

            <div class = "recent-anime-grid-poster-wrapper-right">
                <%= image_tag('konosuba_3_horizonatl_poster.jpg', class: "recent-anime-grid-posters-right")%>
            </div>
            
        </div>

        <div class = "recent-anime-grid-items">
            <div class = "recent-anime-grid-poster-wrapper-left">
                <%= image_tag('jiisan_baasan_wakagaeru_horizontal_poster.jpg', class: "recent-anime-grid-posters-left")%>
            </div>
            <div class = "recent-anime-grid-description-wrapper-left">
                <div class = "recent-anime-grid-title-wrapper-left">
                    <h1 class = "recent-anime-grid-title-left">Друга молодість дідуся та бабусі</h1>
                </div>
                <div class = "recent-anime-description-wrapper-left">
                    <span class = "recent-anime-description-left">Не лише старшокласники, які живуть у великих містах, потрапляють у надприродні ситуації та опиняються втягнутими у неординарні історії. Іноді в селі зі старенькими трапляються справжні дива. Так сталося з літньою подружньою парою, Сьодзо та Іне Сайто, які одного ранку знову прокинулися молодими та здоровими. Незважаючи на цей грандіозний поворот, у їхньому житті нічого не змінилося: вони, як і раніше, займаються садівництвом і домашніми справами, спілкуються з тими самими людьми і люблять один одного так само, як і раніше.</span>
                </div>
                <div class = "recent-anime-button">
                    <span>
                        Перейти на сторінку
                    </span>
                </div>
            </div>
        </div>
    </section>

    <div class = "go-to-filter-page-container">
        <h3 class = "go-to-filter-page-text">Не знайшли те що Вас цікавить? Перегляьте весь наш каталог.</h3>
        <%= button_to "Перейти", animes_path, method: :get, class: "go-to-filter-page-button"%>
    </div>

</div>