<div class = "main-container">
    <h2 class = "recent-anime-grid-section-title">Новинки, що набирають популярність</h2>
    <section class = "recent-anime-grid">
        <div class = "recent-anime-grid-items">
            <div class = "recent-anime-grid-poster-wrapper">
                <%= image_tag "data:image/jpg;base64,#{Base64.encode64(@animes[10].horizontal_poster).html_safe}", class: "recent-anime-grid-posters-left"%>
            </div>
            <div class = "recent-anime-grid-description-wrapper-left">
                <div class = "recent-anime-grid-title-wrapper-left">
                    <h1 class = "recent-anime-grid-title-left"><%=@animes[10].name%></h1>
                </div>
                <div class = "recent-anime-description-wrapper-left">
                    <span class = "recent-anime-description-left"><%=@animes[10].description%></span>
                </div>
                <%= button_to "Перейти на сторінку", @animes[10], method: :get, class:"recent-anime-button"%>
            </div>


        </div>

        <div class = "recent-anime-grid-items">
            <div class = "recent-anime-grid-description-wrapper-right">
                <div class = "recent-anime-grid-title-wrapper-right">
                    <h1 class = "recent-anime-grid-title-right"><%=@animes[11].name%></h1>
                </div>
                <div class = "recent-anime-description-wrapper-right">
                    <span class = "recent-anime-description-right"><%=@animes[11].description%></span>
                </div>
               <%= button_to "Перейти на сторінку", @animes[11], method: :get, class:"recent-anime-button"%>
            </div>

            <div class = "recent-anime-grid-poster-wrapper-right">
                <%= image_tag "data:image/jpg;base64,#{Base64.encode64(@animes[11].horizontal_poster).html_safe}", class: "recent-anime-grid-posters-left"%>
            </div>   
        </div>

        <div class = "recent-anime-grid-items">
            <div class = "recent-anime-grid-poster-wrapper-left">
                <%= image_tag "data:image/jpg;base64,#{Base64.encode64(@animes[50].horizontal_poster).html_safe}", class: "recent-anime-grid-posters-left"%>
            </div>

            <div class = "recent-anime-grid-description-wrapper-left">
                <div class = "recent-anime-grid-title-wrapper-left">
                    <h1 class = "recent-anime-grid-title-left"><%=@animes[50].name%></h1>
                </div>
                <div class = "recent-anime-description-wrapper-left">
                    <span class = "recent-anime-description-left"><%=@animes[50].description%></span>
                </div>
                <%= button_to "Перейти на сторінку", @animes[50], method: :get, class:"recent-anime-button"%>
            </div>
        </div>

        <div class = "recent-anime-grid-items">

            <div class = "recent-anime-grid-description-wrapper-right">
                <div class = "recent-anime-grid-title-wrapper-right">
                    <h1 class = "recent-anime-grid-title-right"><%=@animes[51].name%></h1>
                </div>
                <div class = "recent-anime-description-wrapper-right">
                    <span class = "recent-anime-description-right"><%=@animes[51].description%></span>
                </div>
                <%= button_to "Перейти на сторінку", @animes[51], method: :get, class:"recent-anime-button"%>
            </div>

            <div class = "recent-anime-grid-poster-wrapper-right">
                <%= image_tag "data:image/jpg;base64,#{Base64.encode64(@animes[51].horizontal_poster).html_safe}", class: "recent-anime-grid-posters-left"%>
            </div>
            
        </div>

        <div class = "recent-anime-grid-items">
            <div class = "recent-anime-grid-poster-wrapper-left">
               <%= image_tag "data:image/jpg;base64,#{Base64.encode64(@animes[52].horizontal_poster).html_safe}", class: "recent-anime-grid-posters-left"%>
            </div>
            <div class = "recent-anime-grid-description-wrapper-left">
                <div class = "recent-anime-grid-title-wrapper-left">
                    <h1 class = "recent-anime-grid-title-left"><%=@animes[52].name%></h1>
                </div>
                <div class = "recent-anime-description-wrapper-left">
                    <span class = "recent-anime-description-left"><%=@animes[52].description%></span>
                </div>
               <%= button_to "Перейти на сторінку", @animes[52], method: :get, class:"recent-anime-button"%>
            </div>
        </div>
    </section>

    <div class = "go-to-filter-page-container">
        <h3 class = "go-to-filter-page-text">Не знайшли те що Вас цікавить? Перегляьте весь наш каталог.</h3>
        <%= button_to "Перейти", animes_path, method: :get, class: "go-to-filter-page-button"%>
    </div>

</div>