<div class = "trending-grid-wrapper">
   <h1 class = "trending-grid-title">Найпопулярніші аніме за останній місяць</h1>
   <section class="trending-grid">

      <div class = "trending-anime-items">
         <div>
            <div class = "anime-posters-wrapper">
               <%= image_tag('solo_leveling_poster.jpg', :class => "anime-posters")%>
            </div>
            <h2 class = "trending-anime-title">Тільки я візьму новий рівень</h2>
         </div>
         <div class = "trending-anime-release-wrapper">
            <span class = "trending-anime-release">TV серіал / 2024<span>
         </div>
      </div>

      <div class = "trending-anime-items">
         <div>
            <div class = "anime-posters-wrapper">
               <%= image_tag('classroom_of_the_elite_3_poster.jpg', :class => "anime-posters")%>
            </div>
            <h2 class = "trending-anime-title">Ласкаво просимо до класу еліт (3 сезон)</h2>
         </div>
         <div class = "trending-anime-release-wrapper">
            <span class = "trending-anime-release">TV серіал / 2024<span>
         </div>
      </div>

      <div class = "trending-anime-items">
         <div>
            <div class = "anime-posters-wrapper">
               <%= image_tag('friren_poster.jpg', :class => "anime-posters")%>
            </div>
            <h2 class = "trending-anime-title">Фрірен, що проводжає в останню путь</h2>
         </div>
         <div class = "trending-anime-release-wrapper">
            <span class = "trending-anime-release">TV серіал / 2023<span>
         </div>
      </div>

      <div class = "trending-anime-items">
         <div>
            <div class = "anime-posters-wrapper">
               <%= image_tag('mashl_2_poster.jpg', :class => "anime-posters")%>
            </div>
            <h2 class = "trending-anime-title">Машл 2: претендентський іспит на божественного провидця</h2>
         </div>
         <div class = "trending-anime-release-wrapper">
            <span class = "trending-anime-release">TV серіал / 2024<span>
         </div>
      </div>

      <div class = "trending-anime-items">
         <div>
            <div class = "anime-posters-wrapper">
               <%= image_tag('the_apothecary_diaries_poster.jpg', :class => "anime-posters")%>
            </div>
            <h2 class = "trending-anime-title">Монолог травниці</h2>
         </div>
         <div class = "trending-anime-release-wrapper">
            <span class = "trending-anime-release">TV серіал / 2023<span>
         </div>
      </div>

      <div class = "trending-anime-items">
         <div>
            <div class = "anime-posters-wrapper">
               <%= image_tag('shangri_la_frontier_poster.jpg', :class => "anime-posters")%>
            </div>
            <h2 class = "trending-anime-title">Кордон Шангрі-ла</h2>
         </div>
         <div class = "trending-anime-release-wrapper">
            <span class = "trending-anime-release">TV серіал / 2023<span>
         </div>
      </div>

   </section>;
</div>