<div id="<%= dom_id anime %>">
  <p>
    <strong>Name:</strong>
    <%= anime.name %>
  </p>

  <p>
    <strong>Original name:</strong>
    <%= anime.original_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= anime.description %>
  </p>

  

  <p>
    <strong>Release date:</strong>
    <%= anime.release_date %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= anime.content_type %>
  </p>

  <p>
    <strong>Episode number:</strong>
    <%= anime.total_episodes %>
  </p>

  <p>
    <strong>Studio:</strong>
    <%= anime.studio %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= anime.director %>
  </p>


</div>
