<!DOCTYPE html>
<html>
  <head>
    <title>AnimeGems</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <nav class = "header">
    <div class="nav-content">
      <div class="site-logo">
        <%= link_to "Anime Gems", root_path %>  
      </div>

      <form action="/search" method="GET" class = "search-form">
        <input type="text" name="query" placeholder="Пошук аніме за назвою" autocomplete="off" class = "search-input-field">
        <button type="submit" class = "search-button">Пошук</button>
      </form>

      <ul class="nav-links">
        <li><%= link_to "Аніме", animes_path%></li>
        <li><%= link_to "Випадкове аніме", "#", id: "random-anime-link" %></li>
      </ul>
    </div>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const randomAnimeLink = document.getElementById('random-anime-link');
    randomAnimeLink.addEventListener('click', () => {
      const randomIndex = Math.floor(Math.random() * <%= Anime.count %>) + 1;
      const randomUrl = `/animes/${randomIndex}`;
      window.location.href = randomUrl; 
    });
  });
</script>